<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.honor.mybatis.mapper.SysRoleMapper">
    <resultMap id="sysRoleMap" type="com.honor.mybatis.model.SysRole">
        <id column="sys_role_id" property="sysRoleId" jdbcType="INTEGER"/>
        <result column="role_name" property="roleName" jdbcType="VARCHAR"/>
    </resultMap>
    <update id="updateSysRole">
        UPDATE sys_role set role_name = #{sysRole.roleName} where sys_role_id = #{sysRole.sysRoleId}
    </update>


    <select id="selectById" resultMap="sysRoleMap">
        SELECT * from sys_role where sys_role_id = #{id}
    </select>
</mapper>